<?xml version="1.0" ?>
<!--
/**
 * PayCore.io Extension for Magento 2
 *
 * @author     PayCore.io https://paycore.io
 * @license    http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PaycorePayments\Paycore\Api\PaycoreCallbackInterface"
                type="PaycorePayments\Paycore\Model\PaycoreCallback"/>
</config>